h1.top-heading{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

a {
  text-decoration: none;
  color: black;
  background: white !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 1px !important;
}

div.fc-daygrid-day-frame.fc-scrollgrid-sync-inner {
  background-color: white;
}